.first{background-image: url('/hanyuwebsite/img/fgf.png') ;background-size: 1800px;
    background-position-x: center;height: 798px;
}

.second{
    background: #466368;
    background: linear-gradient(to right bottom, #9db8b2, #63849e);
    height: 800px;
}

.third{
    background-color:antiquewhite;
    height: 800px;
}

.grid-container {
    display: grid;
    grid-template-columns:repeat(4, minmax(0, 1fr));
    grid-template-rows:repeat(1, minmax(0, 1fr)) ;
    padding: 150px 250px 250px 250px;
    height: 800px;
  }
  .grid-item {
    border-radius: 10px;
    box-shadow: 1px 1px 3px darkslategray;
    margin: 15px;
    font-size: 25px;
    text-align: center;
    word-break:break-word;
    vertical-align: middle;
    object-fit:cover;
    overflow: hidden;
    align-content: space-around;
  }

  .bg-img{
    opacity: 0.5;
    object-fit: cover;
    max-width: auto;
    max-height:fit-content;
    background-blend-mode: overlay;
}

  .bg-img{
    opacity: 0.5;
    object-fit: contain;
  }

  .grid-item:hover{
    transform: scale(1.1);
  }

  .grid-text{
    text-decoration:none;color: white;text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    z-index: +1;
}

.background-image{
    width: 1500px;
}

.topic {
    height: 350px;
    text-align-last: center;
    line-height: 50px;
    font-size: 25px;
    align-content:stretch;
    padding-top: 10px;
    margin: 130px 400px 100px 400px;
    border-radius: 30px;
    background-color: rgba(237, 231, 225, 0.3);
    box-shadow:1px 1px 2px darkslategrey;
}

h3{font-weight:bolder;text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;text-shadow: 1px 1px 1px black;
    display: inline-block;
}
h1{text-align: center;font-weight:bolder;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;text-shadow: 1px 1px 1px black;
    display: inline-block;
}

h4{text-align: center;font-weight:bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;text-shadow: 1px 1px 1px black;
    display: inline-block;
}

.navbar{
    background-color: darkcyan;
    padding: 10px;
    opacity: 90% ;
}

.navbar .collapse .navbar-nav .nav-link{
    padding: 10px;
}

.nav-link:hover{
    background-color: black;
    border-radius: 5px;
}

.active{
    background-color: black;
    border-radius: 5px;
}

video{
    max-width: auto;
    height: auto;
    
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px; /* replace with actual footer height */
}

